@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================= ROBOTO FONT FAMILY ========================= */

/* Thin 100 */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Thin Italic 100 */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Light 300 */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Light Italic 300 */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular 400 */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic 400 */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium 500 */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Medium Italic 500 */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Bold 700 */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bold Italic 700 */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Black 900 */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Black Italic 900 */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

body {
  overflow-x: hidden;
  font-family: "Roboto";
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
  background-color: #ededed;
}
::-webkit-scrollbar-thumb {
  background-color: #2300bd;
  border-radius: 10px;
}

body {
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Roboto" !important;
}

/*General CSS classes for all the app*/

.container {
  width: 95%;
  margin: auto;
}

.link:hover {
  color: #2300bd;
}

.MuiBadge-badge {
  background-color: #2300bd !important;
}

nav ul button {
  text-transform: capitalize !important;
}

nav ul button .MuiTouchRipple-root:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.swiper-slide {
  color: black !important;
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ===========================
   Button Styles
   ---------------------------
   Styles for the custom subscribe button
=========================== */
.btn-org {
  background-color: #2300bd !important; /* Brand color */
  color: white !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  padding: 7px 20px !important;
}

.btn-org-v2 {
  background-color: #2300bd !important; /* Brand color */
  color: white !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  padding: 10px 20px !important;
}

.btn-lg {
  font-size: 18px !important;
  padding: 10px 20px !important;
}
