/* ==================== Active Slide Info Animation ==================== */
.swiper-slide-active .info {
  right: 0 !important;
  opacity: 1 !important;
}

.swiper-slide-active .info h4 {
  right: 0 !important;
  opacity: 1 !important;
  transition-duration: 1.5s;
}

.swiper-slide-active .info h3 {
  right: 0 !important;
  opacity: 1 !important;
  transition-duration: 1.3s;
}

.swiper-slide-active .info h2 {
  right: 0 !important;
  opacity: 1 !important;
  transition-duration: 1.7s;
}

.swiper-slide-active .info .button {
  right: 0 !important;
  opacity: 1 !important;
  transition-duration: 2s;
}

/* ==================== Navigation Buttons Base Styles ==================== */
.mySwiperMainV2 .swiper-button-prev,
.mySwiperMainV2 .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 2px;
  box-shadow:
    0px 1px 3px #0000001f,
    0px 1px 2px #0000003d !important;
  opacity: 0;
  transition: all ease-in-out 500ms;
  width: 38px;
  height: 38px;
}

/* Initial Button Positions */
.mySwiperMainV2 .swiper-button-prev {
  transform: translateX(50px);
}
.mySwiperMainV2 .swiper-button-next {
  transform: translateX(-50px);
}

/* Hover Styles for Buttons Container */
.mySwiperMainV2:hover .swiper-button-prev,
.mySwiperMainV2:hover .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 2px;
  box-shadow:
    0px 1px 3px #0000001f,
    0px 1px 2px #0000003d !important;
  opacity: 1;
}

/* Hover Background Color */
.mySwiperMainV2 .swiper-button-prev:hover,
.mySwiperMainV2 .swiper-button-next:hover {
  background-color: #2300bd;
}

/* Adjust Button Transform on Hover */
.mySwiperMainV2:hover .swiper-button-prev {
  transform: translateX(20px);
}
.mySwiperMainV2:hover .swiper-button-next {
  transform: translateX(-20px);
}

/* ==================== Navigation Icons ==================== */
.mySwiperMainV2 .swiper-button-prev .swiper-navigation-icon,
.mySwiperMainV2 .swiper-button-next .swiper-navigation-icon {
  height: 15px !important;
  width: 10px !important;
}

/* Hover Icon Color */
.mySwiperMainV2 .swiper-button-prev:hover .swiper-navigation-icon,
.mySwiperMainV2 .swiper-button-next:hover .swiper-navigation-icon {
  color: rgb(255, 255, 255);
}
