.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background-color: #2300bd;
}
.swiper-pagination {
  bottom: 0px !important;
}
