/* -------------------------------
   Ads Slider Styles (.mySwiperAds)
---------------------------------*/

/* Slider Images */
.mySwiperAds img {
  height: 150px;
}

/* Individual Slide Styling */
.mySwiperAds .swiper-slide {
  border-radius: 8px !important; /* Rounded corners */
  overflow: hidden !important; /* Hide overflow */
  border: 1px solid #241818 !important; /* Light border */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) !important; /* Subtle shadow */
}

/* Navigation Buttons Size */
.mySwiperAds .swiper-button-prev,
.mySwiperAds .swiper-button-next {
  width: 30px;
  height: 30px;
}

/* Navigation Arrow Icon Styling */
.mySwiperAds .swiper-navigation-icon {
  height: 15px !important;
  width: 7px !important;
  color: black;
}

/* Hover Effects on Navigation Buttons */
.mySwiperAds .swiper-button-prev:hover,
.mySwiperAds .swiper-button-next:hover {
  background-color: #2300bd; /* Blue background on hover */
}

.mySwiperAds .swiper-button-prev:hover .swiper-navigation-icon,
.mySwiperAds .swiper-button-next:hover .swiper-navigation-icon {
  color: white; /* White arrows on hover */
}
