/* ==================== Swiper Slide Styles ==================== */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  color: white;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible !important;
}

/* Slide images styling */
.swiper-slide img {
  display: block;
  width: 90vw;
  height: 60vh;
  object-fit: cover;
}

/* ==================== Swiper Container ==================== */
.mySwiperMain {
  overflow: inherit !important;
}

/* ==================== Navigation Buttons ==================== */
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow:
    0px 1px 3px #0000001f,
    0px 1px 2px #0000003d !important;
}

/* Position adjustments for navigation buttons */
.mySwiperMain .swiper-button-prev {
  margin-left: 12px !important;
}

.mySwiperMain .swiper-button-next {
  margin-right: 12px;
}

/* ==================== Navigation Icons ==================== */
.swiper-navigation-icon {
  height: 20px !important;
  width: 15px !important;
  color: black;
}
